<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/loginValidator.css">
<body >
    <%- include('./partials/header.ejs')%>
    <div class="login-entero">
    <div class="cuadro-form-login tamaño-logo">
        <img src="/images/login/logo.png" alt="logo" >
        <h3>Bienvenido :)</h3>
        <form id="form" class="formulario-login" action="/user/login" method="post">
            <div>
                <label for="email">Email:</label>
            </div>      
            <div class="email" >
                <input type="email" id="email" name="email" class="forma-tamaño" placeholder="Ingrese aquí su email" required>
            </div>
            <% if (locals.errors && errors.email) { %>
                <small class="text-danger"><%= errors.email.msg %> </small>
            <% } %>
            <span class="error" id="emailErrors"></span>
            <div >
                <label for="clave">Contraseña:</label>
            </div>    
            <div class="clave">
                <input type="password" id="pass1" name="password" class="forma-tamaño" placeholder="Ingrese aquí su contraseña" required>
            </div>
            <% if (locals.errors && errors.pass1) { %>
                <small class="text-danger"><%= errors.pass1.msg %> </small>
            <% } %>
            <span id="passErrors"></span>
            <div class="remember">
                <div class="recorda"><input type="checkbox" name="remember" id="check"></div>
                <div class="recorda2"><label for="check">Recordar</label> </div>
            </div>
            <div id="boton-logueo">
               <div class="bottonito"> <button class="buttonIniciar">Iniciar session</button> </div>
            </div>
            <section class="containerDeContainerBtn">
            <div class="orientar-boton">
               <a href="" class="contenedor-google"><button class="button-google forma-tamaño"  >GOOGLE</button>></a>
                <a href=""class="contenedor-faceboock"><button class="button-faceboock forma-tamaño">FACEBOOK</button>></a>
            </div>
            </section>
            <div class="olvidaste" ><a href="">¿Olvidaste tu contraseña?</a> </div>
        </form>
        
    </div>
    <div class="cuadro-form-login orientar-p">
        <p>¿No tienes cuenta?</p>
        <a href="/user/register" class="registrate"><button>Registrate</button></a>
    </div>
    </div>
    <%- include('./partials/footer.ejs')%>
    <script src="/javascript/login.js"></script>
</body>
</html>