  <!--  TOCAN EL CÓDIGO Y EL GATITO SE MUERE
  /\ ___ /\                        
 (  o   o  )                    
  \  >#<  /            
  /       \           
 /         \      ^  
|           |    //  
 \         /   //  
  ///  ///  --
-->



<!DOCTYPE html>
<html lang="es">
    <%- include ('./partials/head.ejs')%>
  <body>
    <%- include ('./partials/header.ejs')%>
    <!--  -->
    <section class="productDetail">
        <div class="card-wrapper">
            <div class="card" style="width: 100%; height: 100%;">
                <!-- imagenes producto -->
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            <div>
                                <% product.images.forEach(imagenes => { %>
                                <img src="/images/products/<%- imagenes.image %>" alt="ID:<%= product.id%>">
                                <% }) %>
                                
                              </div>
                            
                        </div>
                    
                    </div>
    
                </div>
                <!-- tarjeta derecha -->
                <div class="product-content">
                    <h2 class="product-title"><%= product.name %></h2>
                    <a href="/products" class="product-link">Más productos</a>
                    
                    <!-- precio -->
                    <div class="product-price">
                        <p class="last-price">Precio: $<span><%= product.price %></span></p>
                        <!-- <p class="new-price">Precio con descuento: <span>$6799,15 (15%)</span></p> -->
    
                    </div>
                    <!-- fin precio -->
                    <!-- descripcion del producto -->
                    <div class="product-detail">
                        <p><%= product.description %></p>
                        
                        <!-- fin descripcion del producto -->
                        <!-- TALLES -->
                        <div class="size-container">
                            <h3 class="title">Talles</h3>

                            <div class="sizes">
                                <% let talles = product.size
                                console.log(typeof talles);
                                /* let tallesDisponibles = [(0,2),(3,5),(6,8),(9,11),(12,14),(15,17),(18,20)] */
                                %>
                                
                                    <span class="size"><%= talles.slice(0,2) %> </span>
                                    <span class="size"><%= talles.slice(3,5) %> </span>
                                    <span class="size"><%= talles.slice(6,8) %> </span>
                                    <span class="size"><%= talles.slice(9,11) %> </span>
                                    <span class="size"><%= talles.slice(12,14) %> </span>
                                  
                            </div>
                            <p> 
                                <h3 class="title">Color</h3>
                                <td><% product.colors.forEach(color => { %>
                                <%- color.name%>
                                <% }) %>
                              </td></p>
                            <% console.log(product.colors); %>  


                            <p>
                            <h3 class="title">Marca</h3>
                            <td><%= product.marca.mark %></td>
                            </p>
                            <!-- FIN TALLES -->
    
                        <div class="purchase-info">
                            <input type="number" min="0" value="1">
                            <button type = "button" class="btn" id="add" onclick="addItem('<%=product.id %>')">Agregar al carrito <i class="fas fa-shopping-cart"></i></button>
                        </div>
                        <!-- iconos redes sociales -->
                        <div class="social-links">
                            <p>Compartir</p>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <!-- fin de iconos redes sociales -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>  
    </section>
    <section>
    </section>
    <%- include ('./partials/footer.ejs')%>
    <script src="/javascript/cart.js"></script>
    <script src="/javascript/productDetail.js"></script>
</body>
</html>