<!DOCTYPE html>
<html lang="es">
    <%- include ('partials/head') %> 
<body>
    <%- include ('partials/header') %> 
    <form action="/user/profile/edit/<%= user.id %>?_method=PUT" method="POST">
        <div class="userProfile">
            <div class="avatar"><img src="/images/users/<%= user.avatar%>" width="300" height="300"alt="avatar"></div>
            <div class="datos">
            <label for="name"> <div> Ingrese nombre:</div></label>
            <input class="forma-tamaño" type="text" name="name" value="<%= user.first_name %>">
                    <% if (locals.errors && errors.name) { %>
                        <small class="text-danger"><%= errors.name.msg %> </small>
                    <% } %>
                </div>
                <div class="form-ad-input">
                    <label for="last_name">Apellido</label>
                    <input class="forma-tamaño" type="text" name="last_name" value="<%= user.last_name %>">
                    <% if (locals.errors && errors.last_name) { %>
                        <small class="text-danger"><%= errors.last_name.msg %> </small>
                    <% } %>
                </div>
                <div class="form-ad-input">
                    <input class="forma-tamaño" type="password" name="pass1" placeholder="Contraseña">
                    <% if (locals.errors && errors.pass1) { %>
                        <small class="text-danger"><%= errors.pass1.msg %> </small>
                    <% } %>
                </div>
                <div class="form-ad-input">
                    <input class="forma-tamaño" type="password" name="pass2" placeholder="Repetir contraseña">
                    <% if (locals.errors && errors.pass2) { %>
                        <small class="text-danger"><%= errors.pass2.msg %> </small>
                    <% } %>
                </div>
                <div class="input-file">
                    <p>Agregar foto</p>
                    <input type="file" name="avatar" value ="<%= user.avatar %> ">
                    <% if (locals.errors && errors.image) { %>
                        <small class="text-danger"><%= errors.image.msg %> </small>
                    <% } %>
        </div>
        <div class="edit">
            <button type="submit" >Editar</button>
            <button type="reset" >Reiniciar</button>
        </div>
    </form>
</body>
</html>