<!DOCTYPE html>
<html lang="es">
    <%- include ('partials/head') %> 
<body>
    <%- include ('partials/header') %> 
    <main class="userProfile">
        <div class="avatar">
              <img src="/images/users/<%= user.avatar%>" alt="avatar">
          </div>
          <div class="userProfile-container">
              <div class="userProfile_box">
                  <h3 class="userProfile_title">Datos personales</h3>
                  <p class="userProfile_item">Nombre: <%= user.first_name%> %></p>
                  <p class="userProfile_item">Apellido: <%= user.last_name%> %></p>
                  <p class="userProfile_item">Email: <%= user.email%></p>
              </div>
              
              <a href="/user/profile/edit/<%= user.id %> "><button type="submit" >Editar perfil</button></a>
          </div> 
      </main>
    <%- include ('partials/footer') %>
</body>
</html>