<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/adminHead')  %> 
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('../partials/adminHeader')%> 
    <div class="container-fluid">
        <div class="row">
            <%- include('../partials/adminSidebar') %>
                <form id="form" class="categories-product col-md-9 ms-sm-auto col-lg-10 px-md-4 row p-3 justify-content-center" action="/admin/products" autocomplete="off" method="POST" enctype="multipart/form-data">
                    
                    <div class="col-12 mb-3">
                        <label class="form-label" for="product">Nombre</label>
                        <input class="form-control" type="text" name="name" id="productName" value="<%= locals.old && old.name %>">
                    </div>
                    <% if (locals.errors && errors.name) { %>
                        <small id="productErrors" class="text-danger"><%= errors.name.msg %></small>
                        <% } %>
                        <small id="productErrors" class="text-danger"></small>
                    <div class="products col-12 mb-3">
                        <p>Talle: </p>
                        <input class="form-control" type="text" name="size" id="productSize" placeholder="Separados por coma( , )" value="<%= locals.old && old.size %>">
                    </div>
                    <% if (locals.errors && errors.size) { %>
                    <small id="sizeErrors" class="text-danger"><%= errors.size.msg %></small>
                    <% } %>
                    <small id="sizeErrors" class="text-danger"></small>
                    <div class="products col-12 mb-3">
                        <p>Categoria: </p>
                        <select  class="form-select categorySelect" name="category" id="">
                            <% categories.forEach(category => { %>
                             <option value="<%- category.id %> "> <%- category.name %> </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="perPrice">Precio</label>
                        <input class="form-control" type="number" name="price" id="perPrice" value="<%= locals.old && old.price%>">
                        <% if (locals.errors && errors.price) { %>
                            <small id="priceErrors" class="text-danger"><%= errors.price.msg %></small>
                        <% } %>
                        <small id="priceErrors" class="text-danger"></small>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="trade_mark">Marca</label>
                        <select class="form-select categorySelect" name="trade_mark" id="">
                            <% marks.forEach(marca => { %>
                                <option value="<%- marca.id %> "><%- marca.mark%> </option>                             
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="description">Descripcion</label>
                        <input class="form-control" type="text" name="description" id="productDescription" value="<%- locals.old && old.description %> ">
                        <% if (locals.errors && errors.description) { %>
                            <small id="descriptionErrors" class="text-danger"><%= errors.description.msg %></small>
                        <% } %>
                        <small id="descriptionErrors"></small>
                    </div>
                    <div class="products col-12 mb-3">
                        <p>Color: </p>
                        <% colors.forEach(color => { %>
                            <label for="colors"><%- color.name %> </label>
                            <input name="colors" class="productColor" type="checkbox" value="<%- color.id %>"
                            <% if (locals.old && old.colors) { %>
                                <% for( let index = 0; index < old.colors.length; index++ ) { %>
                                    <% if (old.colors[index] == color.id ) { %>
                                        checked
                                    <% } %>
                                <% } %>>
                            <% } %>
                        <% }) %>
                        </div>
                        <% if (locals.errors && errors.colors) { %>
                            <small id="colorErrors" class="text-danger"><%= errors.colors.msg %></small>
                        <% } %>
                    <small id="colorErrors" class="text-danger"></small>
                    <br>
                    <br>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="image">Imagen</label>
                        <input class="" aria-label="file example" id="imageErrors" type="file" name="image" id="image" multiple>
                        <% if(locals.errors && errors.image){ %>
                            <small id="imageErrors" class="text-danger"><%= errors.image.msg %> </small>
                        <% } %>
                        <small id="imageErrors"></small>
                    </div>
                    
                    <small class="text-danger" id="submitErrors"></small>
                    <div class="form_action--button d-grid gap-2 col-6 mx-auto">
                        <input class="btn btn-success" type="submit" value="Enviar">
                        <input class="btn btn-danger" type="reset" value="Reiniciar">
                    </div>
                </form>
            </div>
            </div>
                <script type="text/javascript" src="/javascript/productCreate.js"></script>


    <script>
        function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
    </script>
    <%- include('../partials/scripts')  %> 
</body>
</html>