<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/adminHead')  %> 
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('../partials/adminHeader')%> 
    <table>
        <tr>
            <td>
                <form id="form" class="categories-product" action="/admin/products" autocomplete="off" method="POST" enctype="multipart/form-data">
                    
                    <div>
                        <label for="product">Nombre</label>
                        <input type="text" name="name" id="productName" value="<%= locals.old && old.name %>">
                    </div>
                    <% if (locals.errors && errors.name) { %>
                        <small id="productErrors" class="text-danger"><%= errors.name.msg %></small>
                        <% } %>
                        <small id="productErrors" class="text-danger"></small>
                    <div class="products">
                        <p>Talle: </p>
                        <input type="text" name="size" id="productSize" placeholder="Separados por coma( , )" value="<%= locals.old && old.size %>">
                    </div>
                    <% if (locals.errors && errors.size) { %>
                    <small id="sizeErrors" class="text-danger"><%= errors.size.msg %></small>
                    <% } %>
                    <small id="sizeErrors" class="text-danger"></small>
                    <div class="products">
                        <p>Categoria: </p>
                        <select name="category" id="">
                            <% categories.forEach(category => { %>
                             <option value="<%- category.id %> "> <%- category.name %> </option>
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="perPrice">Precio</label>
                        <input type="number" name="price" id="perPrice" value="<%= locals.old && old.price%>">
                        <% if (locals.errors && errors.price) { %>
                            <small id="priceErrors" class="text-danger"><%= errors.price.msg %></small>
                        <% } %>
                        <small id="priceErrors" class="text-danger"></small>
                    </div>
                    <div>
                        <label for="trade_mark">Marca</label>
                        <select name="trade_mark" id="">
                            <% marks.forEach(marca => { %>
                                <option value="<%- marca.id %> "><%- marca.mark%> </option>                             
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="description">Descripcion</label>
                        <input type="text" name="description" id="description">
                    </div>
                    <div class="products">
                        <p>Color: </p>
                        <% colors.forEach(color => { %>
                            <label for="colors"><%- color.name %> </label>
                            <input name="colors" class="productColor" type="checkbox" value="<%- color.id %>"
                            <% if (locals.old && old.colors) { %>
                                <% for( let index = 0; index < old.colors.length; index++ ) { %>
                                    <% if (old.colors[index] == color.id ) { %>
                                        checked
                                    <% } %>
                                <% } %>>
                            <% } %>
                        <% }) %>
                        </div>
                        <% if (locals.errors && errors.colors) { %>
                            <small id="colorErrors" class="text-danger"><%= errors.colors.msg %></small>
                        <% } %>
                    <small id="colorErrors" class="text-danger"></small>
                    <div>
                        <label for="image">Imagen</label>
                        <input id="imageErrors" type="file" name="image" id="image" multiple>
                    </div>
                    
                    <small class="text-danger" id="submitErrors"></small>
                    <div class="form_action--button">
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Reiniciar">
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/javascript/productCreate.js"></script>


    <script>
        function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
    </script>
    <%- include('../partials/scripts')  %> 
</body>
</html>